.main_header {
	height: 62px !important;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}

.nav {
	display: inline-block !important;
}

.navbar-inverse {
	transition: 0.2s ease-in;
	-webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	background-color: #eee !important;
	box-shadow: 0 0 7px 0 rgba(18, 16, 16, .2);
	z-index: 999;
	border-color: #fff !important;
	color: #333;
}

.navbar-inverse .navbar-nav>.active>a {
	color: #333 !important;
	background-color: #fff !important;
}

.navbar-inverse .navbar-nav>li {
	color: #333 !important;
	font-size: 14px;
	padding: 0px 0px;
	margin: 6px 5px 0;
	font-weight: 400;
	text-transform: uppercase;
	transition: 0.2s ease-in !important;
	-webkit-transition: 0.2s ease-in !important;
	-moz-transition: 0.2s ease-in !important;
}

.navbar-inverse .navbar-nav>li>a {
	color: #333 !important;
}

.navbar-inverse .navbar-nav>li>a:hover {
	/* color: #333 !important;
	border-bottom: 3px solid #d02560 !important;
	transition: width 0.2s ease-in-out; */
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 10px 15px;
	border-bottom: 3px solid transparent;
}

.navbar-toggle {
	color: #fff;
	background-color: #d02560!important;
	padding: 6px;
	margin-top: 14px;
}

.navbar-inverse .navbar-toggle {
	border-color: #d02560;
}

.navbar {
	border-radius: 0px !important;
	border: 0px !important;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
	border-color: #fff !important;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    background-color: #eee !important;
}

.logo_img,h5 {
	width: 95px;
    height: 47px;
    font-size: 15px !important;
    color: #d02560; 
    padding-top: 0px;
    font-family: none;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 14px;
    line-height: 30px;
    background-color: #444444;
    margin-right: -1px;
    margin-left: -1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #FFFFFF;
    padding: 5px 10px;
    margin-top: -2px; 
}

.close{
    color: #fdf3f7 !important;;
} 

.form-control {
    display: block;
    width: 106% !important;   
    height: 44px !important;
    padding: 22px 20px !important;
    font-size: 14px;
    line-height: 1.428571;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkbox, .radio { 
    margin-top: 0px !important; 
    margin-bottom: 10px;
    margin-left: 28px !important;
}
.btn-default{
    font-size: 14px;
    padding: 10px;
    display: block;
    color: #fff !important;
    margin-left: 32px;;
    margin-right: auto;
    background: #cf000b !important;
    border: solid 1px #b00009 !important;
    width: 135px;
   

}
.btn-info{
    font-size: 14px;
    padding: 10px;
    display: block;
    color: #fff !important;
    margin-left: 17px;;
    margin-right: auto;
    background: #cf000b !important;
    border: solid 1px #b00009 !important;
    width: 135px;
    height: 43px !important;
}

.btn-primary{
    color: #fff;
    background-color: #5d4f4f !important;
    border-color: #5d4f4f !important;
}

.tab_panels{
    margin-top: 75px;
    text-align: center;
}
.tab_panels h1{
    margin-bottom: 20px;
}
a {
color:#333 !important;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 6px 18px !important;
    background: #eee !important;
    margin-left: 10px;
    border-radius: 12px !important;
}

h1{
    color: #000 !important;
    font-weight: 300 !important;
    font-size: 1.5em !important;
}
.nav-pills>li.active>a{
    color: #fff !important;
    background-color: #c60001 !important;
}
 
.margin_top{
    margin-top: 25px;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
  }

  [type="date"]::-webkit-calendar-picker-indicator {
    display: none;
  }

  .padding_cls{
      margin-left: 10px;
  }

  .date_custom{
      margin-left: -10px;
  }

  .featureheading_image1 {
	height: 245px;
	overflow: hidden;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url(/assets/travel1.jpg);
	width: 100%;
}
.safety_image1{
    height: 210px;
    overflow: hidden;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/safety.jpg);
    width: 95%;
    margin-bottom: 16px;
    margin-left: 10px;
}
.safety_image2{
    height: 210px;
    overflow: hidden;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/gana.jpg);
    width: 95%;
    margin-bottom: 16px;
    margin-left: 10px;
}
.safety_image3{
    height: 210px;
    overflow: hidden;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/mobikwik.png);
    width: 95%;
    margin-bottom: 16px;
    margin-left: 10px;
}
.h4_custm h4{
    margin-bottom: 25px;
}
.h4_custm h5{
    margin-left: 60px;  
}
.h6_custom h6{
    font-size: 17px !important;
    font-weight: 700;

}
.Social i{
    color: #606060;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid #606060;
    border-radius: 50%;
    padding: 8px 0px;
    width: 30px;
    height: 30px;
}

.logo_custm{
    height: 120px;
    overflow: hidden;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/kerala.jpg);
    width: 100%;
    margin-bottom: 16px;
    margin-left: 10px;
}
 .logo2{
    background-image: url(/assets/gsrtc.jpg) !important;
 }
 .logo3{
    background-image: url(/assets/hrtc.jpg) !important;
 }
 .logo4{
    background-image: url(/assets/msrtc.png) !important;
}
.logo5{
    background-image: url(/assets/psrtc.png) !important;
}
.logo6{
    background-image: url(/assets/rsrtc.jpg) !important;
}
.footer_custom{
    margin-top: 0px;
    margin-bottom: -42px;
}
.footer_custom h6{
margin-left: 85px;
}

.routes_custom{
    height: 160px;
    overflow: hidden;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/railway.png);
    width: 75%;
    margin-bottom: 16px;
    margin-left: 10px;
    padding: 15px 10px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}
.logoroute1{
    background-image: url(/assets/train.jpg) !important;
}
.logoroute2{
    background-image: url(/assets/route.png) !important;
}
.logoroute3{
    background-image: url(/assets/train1.png) !important;
}

.rutes_h4 h4{
    margin-left: 10px;
}
.status_custom{
    margin-left: 60px;
}
.etickts h4{
    margin-top: 10px;
    margin-bottom: 20px;
}

.train_custom{
    height: 250px;
    overflow: hidden;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/trainticket.jpg);
    width: 100%;
    margin-bottom: 16px;
    /* margin-left: 10px; */
}
.inform_custom{
    margin-top: 12px;
    line-height: 1.5em;
}

.train_inform{
    height: 300px;
    overflow: hidden;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/traintravel.jpg);
    width: 100%;
    margin-bottom: 16px;
}
.inform_train{

}

.ticket_custom{
    height: 170px;
    overflow: hidden;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/Hydrabad1.jpg);
    width: 100%; 
    padding: 15px 10px;
    border: 1px solid #333;
}
.ticket_custom h4{ 
    text-align: center;
    margin-top: 67px; 
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    height: 24px;
    width: 107%;
    margin-left: -10px;
    padding: 3px;
}
.loc_logo1{
    background-image: url(/assets/bangalore.jpg) !important;
}
.loc_logo1{
    background-image: url(/assets/mumbai.jpg) !important;
}
.head_custom h2{
margin-left: 13px;
font-size: 17px;
}
 

@media only screen and (max-width: 600px) {
    .logo_img {
        margin-left: 10px ;
    }
    .input-group{
        margin-bottom: 12px;
    }
    .mobile_view {
		position: absolute;
		display: contents;
    }
    .date_custom{
        margin-left: 0px;
    }
    .btn-info{
        margin-left: 0px;
    }
    .h4_custm h5 {
        margin-left: 0px
    }
}

@media only screen and (max-width: 950px) {
    .date_custom{
        margin-left: 0px;
    }
    .logo_img {
        margin-left: 10px !important;
    }
    .mobile_view {
		position: absolute;
		display: contents;
    }
    .input-group{
        margin-bottom: 12px;
    }
    .btn-info{
        margin-left: 0px;
    }
    .h4_custm h5 {
        margin-left: 0px
    }
}

@media only screen and (max-width: 950px) {


}